.container-custom {
  background-size: cover;
  background: linear-gradient(rgba(black, 0.8), rgba(black, 0.6), rgba(black, 0.3), rgba(black, 0.4)), url("../assets/tinder_bg.jpg") center;
  height: 100vh;
}
